.meus-pedidos-container {
    max-width: 800px;
    margin-top: 30%; /* Margem superior ajustada conforme necessário */
    padding: 20px;
  }
  
  /* Estilos para a barra superior */
  .barra-superior {
    background: linear-gradient(to right, rgb(84, 95, 84), rgb(84, 160, 84)); /* Substitua as cores conforme necessário */
    padding: 10px;
    text-align: center;
    color: white; /* Adicione esta linha para garantir que o texto seja legível no gradiente */
  }
  /* Estilos para cada item de pedido na lista */
  .pedido-item {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
   
  }
  
  /* Estilos para a imagem de cada item de pedido */
  .pedido-item-imagem {
    max-width: 100px;
    margin-right: 10px;
  }
  
  /* Estilos para o contêiner de cada pedido */
  .pedido-container {
    position: relative;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  /* Estilos para o título de cada pedido */
  .pedido-container h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #ff9800;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  /* Estilos para o input do código de rastreamento */
  .codigo-rastreamento input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
  }
  
  /* Estilos para a seção de detalhes do pedido */
  .detalhes-pedido {
    margin-top: 20px;
  }
  
  /* Estilos para os parágrafos na seção de detalhes do pedido */
  .detalhes-pedido p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Estilos para o label do código de rastreamento */
  .meus-pedidos-container .pedido-item label[for^="codigoRastreamento-"] {
    display: block;
    font-size: 1.2em;
    color: #001c38; /* Azul mais escuro */
    margin-bottom: 5px;
    text-align: center;
  }
  
  /* Estilos para o input do código de rastreamento */
  .meus-pedidos-container .pedido-item input[id^="codigoRastreamento-"] {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
    border: 1px solid #ff9800; /* Borda azul mais escuro */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Estilos para cada item de pedido na seção de detalhes do pedido */
  .meus-pedidos-container .pedido-item {
    border: 2px solid #ccc; /* Borda cinza */
    border-radius: 10px; /* Borda arredondada */
    padding: 15px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
  }
 
  /* Estilos para as informações adicionais na seção de detalhes do pedido */
  .detalhes-pedido-info {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Estilos para a barra de caminho de entrega */
  .caminho-entrega {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Estilos para cada fase no caminho de entrega */
  .fase {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
  }
  
  /* Estilos para a fase ativa no caminho de entrega */
  .fase.ativa {
    background-color: #ff9800; /* Cor de destaque para a fase ativa */
    color: white;
  }    .pedido-item-imagem {
    width: 50px;
    margin-right: 10px;
    border: 2px solid #ff9800;
    border-radius: 5px;
  }
  
  .pedido-item-info {
    flex-grow: 1;
    
  }
  
  .pedido-item-nome {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pedido-item-preco {
    color: #ff9800;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .pedido-item-quantidade {
    margin-left: auto;
  }.meus-pedidos-container .pedido-item .codigo-rastreamento-prefix {
    color: #ccc; /* Cor cinza */
    font-size: 1em;
    margin-right: 5px; /* Espaçamento à direita para separar o "#" do texto do input */
  }